body{
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background: url(/hisoka.02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    color: rgb(0, 0, 0);
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-login{
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 35px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 10px 40px black;
}

.card-login >h1{
    color: rgb(10, 7, 11);
    font-weight: 800;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 120px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 25px 40px;
    background-color: rgb(239, 237, 241);
    font-size: 13pt;
    box-shadow: 0px 10px 10px black;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    margin-bottom: 10px;
    color: aliceblue;

}

.textfield > input::placeholder{
    color: rgb(0, 0, 0);
}
.btn_login{
    width: 100%;
    padding: 16px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(67, 1, 97);
    cursor: pointer;
}

@media only sceen and (max-widht: 600px){

    .main-login{
        flex-direction: column;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .card-login{
        width: 90;
    }

}

button{
    color: #ef5fe3;
    background: transparent;
    border:solid 1px #ef5fe3;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
}

button:hover{
    background-color: #ef5fe3;
    color: #fff;
    transition: 0.5s;
}

